body {
  background-color: #d7d9da;
  font-family: sans-serif;
}

.jumbotron {
  background-color: #ddcda9;
}

.align-center {
  text-align: center;
}

.page-title {
  background-color: #ddcda9;
  border: none;
  text-align: center;
}

.outer-well {
  background-color: #a3a6a7;
  border: 1px solid black;
}

.card-block {
  background-color: #ededed;
  border-top: 1px solid #727474;
}
