body {
  background-color: #d7d9da;
  font-family: sans-serif;
}

.jumbotron {
  background-color: #ddcda9;
  padding-top: 5px;
}

.jumbotron h1 {
  padding-bottom: 20px;
}

.jumbotron h1 a {
  color: #373737;
}

.align-center {
  text-align: center;
}

.page-title {
  background-color: #ddcda9;
  border: none;
  text-align: center;
}

.outer-well {
  background-color: #a3a6a7;
  border: 1px solid black;
}

.card-block {
  background-color: #f5f5f5;
  border-top: 2px solid #ddd;
}

.card h4 {
  font-weight: bold;
  text-decoration: underline;
}

.card-header h4 {
  font-size: 20px;
}

.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.btn {
  background-color: #f5f5f5;
}

.panel-title {
  font-size: 20px;
}

.panel-body {
  background-color: #f5f5f5;
}

.panel-heading {
  border-bottom-width: 2px;
}

.list-group-item {
  background-color: inherit;
  border-width: 2px;
}
